<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachments List</title>
</head>
<body>
    <h1>Attachments List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>File URL</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            <% attachments.forEach(attachment => { %>
                <tr>
                    <td><a href="/attachments/<%= attachment.id %>"><%= attachment.id %></a></td>
                    <td><a href="<%= attachment.fileUrl %>" target="_blank"><%= attachment.fileUrl %></a></td>
                    <td>
                        <% const task = tasks.find(task => task.id === attachment.TaskId); %>
                        <%= task ? task.title : 'No Task' %>
                    </td>
                    <td><a href="/attachments/<%= attachment.id %>/edit">Редагувати</a></td>
                    <td>
                        <form action="/attachments/<%= attachment.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit">Видалити</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <h2>All Tasks</h2>
    <ul>
        <% tasks.forEach(task => { %>
            <li><%= task.title %></li>
        <% }) %>
    </ul>
    <br>
    <a href="/attachments/create">Create New Attachment</a>
</body>
</html>
