<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Редагувати задачу</title>
</head>
<body>
    <h1>Редагувати задачу</h1>
    <form action="/tasks/<%= task.id %>/edit?_method=PUT" method="POST">
        <label for="title">Назва:</label>
        <input type="text" id="title" name="title" value="<%= task.title %>">
        <input type="text" id="description" name="description" value="<%= task.description %>">
        <br>
    
        <label for="completed">Статус:</label>
        <select id="completed" name="completed">
            <option value="false" <%= task.completed === 'false' ? 'selected' : '' %>>В очікуванні</option>
            <option value="true" <%= task.completed === 'true' ? 'selected' : '' %>>Завершена</option>
        </select>
        <br>

        <button type="submit">Зберегти</button>
    </form>
    <a href="/tasks">Повернутися до задач</a>
</body>
</html>
